<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
        body{
            margin: 1rem;
        }
        h1, h2, h3{
            margin: 1rem 0;
        }
        a{
            display: block;
            margin: 1rem 0;
        }
    </style>
</head>
<body>
    <h1>Hey, this is index page</h1>

    <h2>User : <%= user %></h2>
    
    <h3>Menu</h3>
    <nav>
        <a href="/about">about</a>
        <a href="/todolist">todolist</a>
    </nav>
</body>
</html>