<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>todolist</title>
    <% include ./components/head %>
</head>
<body>
    <div class="wrap" data-page="todolist">

        <% include ./components/header %>
        
        <div class="container">
            <main class="main">
            </main>
        </div>

        <% include ./components/footer %>

    </div>
    <script>
    </script>
</body>
</html>