<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>To Do List</title>
    <% include ./partials/head %>
</head>
<body>
    <div class="wrap" data-page="main">

        <% include ./partials/header %>

        <div class="container">
            <main class="main">
                <section class="todolist-card">
                    <header class="div-header">
                        <h3 class="__title">오늘</h3>
                    </header>
                    <ul class="div-lst">
                        <li class="lst-item">
                            item 1
                        </li>
                        <li class="lst-item">
                            item 2
                        </li>
                    </ul>
                </section>
                <section class="todolist-card">
                    <header class="div-header">
                        <h3 class="__title">내일</h3>
                    </header>
                    <ul class="div-lst">
                        <li class="lst-item">
                            item 1
                        </li>
                        <li class="lst-item">
                            item 2
                        </li>
                    </ul>
                </section>
                <section class="todolist-card">
                    <header class="div-header">
                        <h3 class="__title">7월 28일</h3>
                    </header>
                    <ul class="div-lst">
                        <li class="lst-item">
                            item 1
                        </li>
                        <li class="lst-item">
                            item 2
                        </li>
                        <li class="lst-item">
                            item 3
                        </li>
                        <li class="lst-item">
                            item 4
                        </li>
                        <li class="lst-item">
                            item 5
                        </li>
                    </ul>
                </section>
                <section class="todolist-card">
                    <header class="div-header">
                        <h3 class="__title">7월 29일</h3>
                    </header>
                    <ul class="div-lst">
                        <li class="lst-item">
                            item 1
                        </li>
                        <li class="lst-item">
                            item 2
                        </li>
                        <li class="lst-item">
                            item 3
                        </li>
                        <li class="lst-item">
                            item 4
                        </li>
                        <li class="lst-item">
                            item 5
                        </li>
                    </ul>
                </section>
            </main>
        </div>

        <% include ./partials/footer %>

    </div>
</body>
</html>